@model CambiarContrasenaViewModel

@if (Context.User.Identity.IsAuthenticated) {

<h1>Cambiar contrase単a</h1>

<form asp-action="CambiarContrasena" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        Contrase単a actual:  <input asp-for="ContrasenaActual">
    </div>
    <div>
        Contrase単a nuevo: <input asp-for="ContrasenaNueva">
    </div>
    <div>
        Confirmar Contrase単a: <input asp-for="ContrasenaConfirmacion">
    </div>
    <button>Cambiar pass</button>
</form>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}