@model Contacto
@if (Context.User.Identity.IsAuthenticated) {
    <form asp-action="Contacto" method = "post">
        <div asp-validation-summary="All"></div>        
                <div class="md-form"> 
                <label for="form7">Mensaje</label>               
                <textarea asp-for="Mensaje" id="form7" class="md-textarea form-control" rows="3"></textarea>
                
                </div>
                
                <div>
                <label for="">Tipo de Contacto</label>
                <select  asp-for="TipoContacto">
                    <option value="0">Reclamo</option>
                    <option value="1">Sugerencia</option>
                </select>

                </div>
        <div class="container">
                <button class="btn btn-success" type="submit">Enviar</button>
        </div>
</form>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}  

    