@{
    ViewData["Title"] = "Registro de Mascotas";
}
@model Mascota
@if (Context.User.Identity.IsAuthenticated) {

<div class="container">
    <h1 style="text-align:center">Registro de Mascotas</h1>
    <form asp-action="registrarmascota" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombre:</label>
            <input asp-for="Nombre">
        </div>        
        <div class="form-group">
            <label>Edad:</label>
            <select class="custom-select" asp-for="Edad">
                <option value="0">--Seleccionar--</option>
                <option value="3 - 6 meses">3 - 6 meses</option>
                <option value="6 meses - 1 año">6 meses - 1 año</option>
                <option value="1 - 3 años">1 - 3 años</option>
                <option value="4 - 7 años">4 - 7 años</option>
                <option value="+7 años">+7 años</option>                
            </select>
        </div>        
        <div class="form-group">
            <label>Sexo:</label>
            <select class="custom-select" asp-for="Sexo">
                <option value="0">--Seleccionar--</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
                
            </select>
        </div>
        <div class="form-group">
            <label>Tamaño:</label>
            <select class="custom-select" asp-for="Tamano">
                <option value="0">--Seleccionar--</option>
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
            </select>
        </div>
        <div class="form-group">
             <label>Peso:</label>
            <input asp-for="Peso">
        </div>
        <div class="form-group">
            <label>Tipo de Pelo:</label>
            <select class="custom-select" asp-for="TipoPelo">
                <option value="0">--Seleccionar--</option>
                <option value="Corto">Corto</option>
                <option value="Mediano">Mediano</option>
                <option value="Largo">Largo</option>
            </select>
        </div>     
        <div class="form-group">
            <label>Foto: </label>
            <input type="file" name="photofile">
        </div>
        <div class="form-group">
            <button style="background-color: green" class="btn btn-primary btn-lg btn-block" type="submit">Registrar Mascota</button>
        </div>
    </form>
</div>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}